# BEMM459J - Database Technologies for Business Analytics

In [42]:
# Import library
import sqlite3
import pandas as pd

# Connect to the Database
conn=sqlite3.connect('invoicing.db')
cur=conn.cursor()
print(type(cur))
print (sqlite3.sqlite_version)

<class 'sqlite3.Cursor'>
3.33.0

## Show Tables

In [2]:
# List of all tables

def tables_in_sqlite_db(conn):
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cursor.fetchall()
        if v[0] != "sqlite_sequence"
    ]

    cursor.close()
    return tables

tables = tables_in_sqlite_db(conn)
#print tables
print(tables)

['Project', 'CompanyType', 'Company', 'Contact', 'ProductsServices', 'Invoice_ProductsServices', 'Invoice']

## CRUD operations (Create, Read, Update, Delete)

### Create

In [7]:
# Insert one record in table ECC_DEPARTMENT based on user input


inputcompanyRFC=input('Enter company identifier (RFC):')
inputprojectID=int(input('Enter Project number:'))
inputinvoiceDescription=input('Enter invoive description:')
inputinvoiceDate=input('Enter invoice date:')
inputinvoiceTotal=int(input('Enter invoice total:'))
inputinvoiceBalance=int(input('Enter paid amount:'))         


qry="insert into Invoice (companyRFC,projectID,invoiceDescription,invoiceDate,invoiceTotal,invoiceBalance) values (?,?,?,?,?,?);"

try:
        cur.execute(qry, (inputcompanyRFC,inputprojectID,inputinvoiceDescription,inputinvoiceDate,inputinvoiceTotal,inputinvoiceBalance))
        print ('New invoice successfully added')
        conn.commit()
except:
        print ('Error in adding invoice')
        conn.rollback()

Enter company identifier (RFC):S&S021003TBA
Enter Project number:2
Enter invoive description:Sand
Enter invoice date:01/04/2021
Enter invoice total:10000
Enter paid amount:5000
New invoice successfully added

In [15]:
# Query and display tha last invoice created

# Query to show one invoice orderd by InvoiceID in desc order
qry="select * from Invoice order by invoiceID desc limit 1;"

# Execute the query on SQLite
cur.execute(qry)

# Fetch and display 
row=cur.fetchall()

print (row)

[(16, 'S&S021003TBA', 2, 'Sand', '01/04/2021', 10000, 5000, 'Wire Transfer', 0.16)]

### Read

Show customer´s invoices and the amount they have to pay.

In [56]:
# Query and display records from two different tables for customers (not suppliers), finally add a new column with
#the difference of the invoice total and the amount that has been paid

# Prepare the query String
qry2=pd.read_sql_query("SELECT Company.companyName,Company.companyTypeID,Invoice.invoiceDescription,Invoice.invoiceTotal,Invoice.invoiceBalance, Invoice.invoiceTotal-Invoice.invoiceBalance AS TotalDueAmount FROM Company LEFT JOIN Invoice ON Invoice.companyRFC=Company.companyRFC WHERE Company.CompanyTypeID='Customer'",conn)

"""
SELECT Company.companyName,Company.companyTypeID,Invoice.invoiceDescription,
Invoice.invoiceTotal,Invoice.invoiceBalance, Invoice.invoiceTotal-Invoice.invoiceBalance AS TotalDueAmount
FROM Company 
LEFT JOIN Invoice ON Invoice.companyRFC=Company.companyRFC 
WHERE Company.CompanyTypeID="Customer"
"""
# Show the query ina Panda's Dataframe
qry2

,companyName,CompanyTypeID,invoiceDescription,invoiceTotal,invoiceBalance,TotalDueAmount
0,"PLUS DIGITAL, SA DE CV",Customer,Sand and gravel bases,80032,80032,0
1,SERVICIO DE CONSULTORIA DE VALOR AGREGADO SC,Customer,Metal,10000,0,10000
2,SERVICIO DE CONSULTORIA DE VALOR AGREGADO SC,Customer,Metal structures in foundation masks,168906,100000,68906
3,SERVICIO DE CONSULTORIA DE VALOR AGREGADO SC,Customer,Monolithic foundations,435800,230000,205800
4,Víctor Adrián del Ángel Espinosa,Customer,Heat and waterproofing,35000,15000,20000
5,Víctor Adrián del Ángel Espinosa,Customer,Subfloor elements,40000,4000,36000
6,"Formas e Imágenes, S.A. de C.V.",Customer,Heat and waterproofing,50000,25000,25000

In [66]:
# Query and display records from two different tables for customers (not suppliers),  add a new column with
#the difference of the invoice total and the amount that has been paid and SUM the Due Amount per Company

# Prepare the query String
qry3=pd.read_sql_query("SELECT Company.companyName,Company.companyTypeID,SUM(Invoice.invoiceTotal) AS 'Total Invoices',SUM(Invoice.invoiceBalance) AS 'Total Paid', SUM(Invoice.invoiceTotal-Invoice.invoiceBalance) AS 'Total Due Amount' FROM Company LEFT JOIN Invoice ON Invoice.companyRFC=Company.companyRFC WHERE Company.CompanyTypeID='Customer' GROUP BY companyName;",conn)

"""
SELECT Company.companyName,Company.companyTypeID,
SUM(Invoice.invoiceTotal) AS 'Total Invoices',SUM(Invoice.invoiceBalance) AS 'Total Paid', 
SUM(Invoice.invoiceTotal-Invoice.invoiceBalance) AS 'Total Due Amount'
FROM Company 
LEFT JOIN Invoice ON Invoice.companyRFC=Company.companyRFC 
WHERE Company.CompanyTypeID="Customer"
GROUP BY companyName
"""
# Show the query ina Panda's Dataframe
qry3

,companyName,CompanyTypeID,Total Invoices,Total Paid,Total Due Amount
0,"Formas e Imágenes, S.A. de C.V.",Customer,50000,25000,25000
1,"PLUS DIGITAL, SA DE CV",Customer,80032,80032,0
2,SERVICIO DE CONSULTORIA DE VALOR AGREGADO SC,Customer,614706,330000,284706
3,Víctor Adrián del Ángel Espinosa,Customer,75000,19000,56000

### Update

In [105]:
# We will Update the last invoice created
qry4=pd.read_sql_query("select * from Invoice order by invoiceID desc limit 1;",conn)
qry4

,invoiceID,companyRFC,projectID,invoiceDescription,invoiceDate,invoiceTotal,invoiceBalance,invoiceMethod,invoicetaxRate
0,16,S&S021003TBA,2,Sand,01/04/2021,10000,1100,Wire Transfer,0.16

In [ ]:
inputinvoiceID=int(input('Which invoice you want to pay?:'))
inputinvoiceAmount=int(input('Amount:'))
inputinvoiceBalance

qry5='update Invoice set invoiceBalance=? where invoiceID=?'


try:
        cur.execute(qry5, (inputinvoiceAmount+inputinvoiceBalance,inputinvoiceID))
        print ('Payment successfully registered')
        conn.commit()
except:
        print ('Error please check your info .. rollback')
        conn.rollback()

In [ ]:
# Invoice Updated
qry6=pd.read_sql_query("select * from Invoice order by invoiceID desc limit 1;",conn)
qry6

In [164]:
a="select Invoice.invoiceBalance from Invoice where invoiceID=16;"


#qry="select * from Invoice where departmentID=?";
cur.execute(a)
row=cur.fetchone()
print (row)
type(row)
e=row[0]
e+1

(100,)

101

In [ ]:
inputinvoiceID=int(input('Which invoice you want to pay?:'))
inputinvoiceAmount=int(input('Amount:'))
inputinvoiceBalance

qry5='update Invoice set invoiceBalance=? where invoiceID=?'


try:
        cur.execute(qry5, (inputinvoiceAmount+inputinvoiceBalance,inputinvoiceID))
        print ('Payment successfully registered')
        conn.commit()
except:
        print ('Error please check your info .. rollback')
        conn.rollback()